<footer class="footer">
  <div class="container text-center">
    <a class="cc-linkedin btn btn-link" href="https://www.linkedin.com/in/arif-khan-7a9143131/" target="_blank">
      <i class="fa fa-linkedin fa-2x " aria-hidden="true"></i>
    </a>

    <a class="cc-twitter btn btn-link " href="https://x.com/arifkhanak1995" target="_blank">
      <i class="fa fa-twitter fa-2x " aria-hidden="true"></i>
    </a>

    <a class="cc-instagram btn btn-link" href="https://www.instagram.com/arifkhan_official01/" target="_blank">
      <i class="fa fa-instagram fa-2x " aria-hidden="true"></i>
    </a>

    <a class="cc-github btn btn-link " href="https://github.com/arifkhanak" target="_blank">
      <i class="fa fa-github fa-2x " aria-hidden="true"></i>
    </a>
    <!-- <a class="cc-google-plus btn btn-link" href="#" target="_blank">
        <i class="fa fa-google-plus fa-2x" aria-hidden="true"></i>
      </a> -->
  </div>
  <div class="text-center text-muted">
    <p>© 2023 Copyrights by Arif Khan All Rights Reserved. Developed by <b>Arif Khan</b> </p>
  </div>
</footer>