.cc-reference p{
    font-weight: 1000px;
    color: black;
    font-style: bold;
  }

  .category p{
      width: 10%
  }

  .ref-user-profile{
    border-radius: 10px;
    background: #00334D;
    padding: 1px;
  }