<div class="section" id="education">
    <div class="container cc-education">
      <div class="h4 text-center mb-4 title">Education</div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2017 - 2019</p>
              <div class="h5">Master's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">M.Sc. (Master of Computer Science)</div>
               <h4 class="category">University of Mumbai
               </h4>
               <ul>
                <li>One of the best University of Mumbai in the world.</li>
                    <li>Completed M.Sc in Computer Science with <b>First Class</b>.</li>
                 <li>Won the <b>Best Student Award</b> 1 times for excellent Academic records at College.</li>
                 <li>Maintained above <b>First Class</b> in every semester of college academic.</li>
             </ul>
            </div>
          </div>
        </div>
      </div>

      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2013 - 2016</p>
              <div class="h5">Bachelor's Degree</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">B.Sc. (Bachelor of Computer Science)</div>
               <h4 class="category">Akbar Peerbhoy College Of Commerce And Economics
               </h4>
               <ul>
                <li> Akbar Peerbhoy College is Mumbai Affiliated and <b>ranks 7th</b> in Mumbai </li>
                    <li>Completed B.Sc in Computer Science with <b>7.2 CGPA</b>.</li>
                 <li>Won the <b>Best Student Award</b> 3 times for excellent Academic records at College.</li>
                 <li>Maintained above <b>7.1 spi</b> in every semester of college academic .</li>
             </ul>
            </div>
          </div>
        </div>
      </div>
      <div class="card">
        <div class="row">
          <div class="col-md-3 bg-primary" data-aos="fade-right" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body cc-education-header">
              <p>2011 - 2013</p>
              <div class="h5">Higher Secondary</div>
            </div>
          </div>
          <div class="col-md-9" data-aos="fade-left" data-aos-offset="50" data-aos-duration="500">
            <div class="card-body">
              <div class="h5">Higher Secondary</div>
               <h4 class="category">Ramniranjan Jhunjhunwala College of Arts. Science & Commerce
               </h4>
               <ul>
                <li>
                  The High School was mainly focus on the bases of science, mathematics, and Chemistry
                                  </li>
                                  <li>
                                     There was also a good base on physics, mathematics and chemistry.
                                  </li>
                                  <li>
                                      Completed my high school with<b> 56%</b>.
                                  </li>
             </ul>
            </div>
          </div>
        </div>
      </div>
     
    </div>
  </div>